<div class="container">
    <div class="left-column">
        <img src="assets/world-map.svg" (click)="onCountryClick($event)" />
    </div>
    <div class="right-column">
        <div *ngIf="countryInfo">
            <p>Name: {{ countryInfo.name }}</p>
            <p>Capital: {{ countryInfo.capital }}</p>
            <p>Region: {{ countryInfo.region }}</p>
            <p>Income Level: {{ countryInfo.incomeLevel }}</p>
            <p>Latitude: {{ countryInfo.latitude }}</p>
            <p>Longitude: {{ countryInfo.longitude }}</p>
        </div>
    </div>
</div>