<div class="container">
    <div class="left-column">
        <svg (click)="onCountryClick($event)" width="1366" height="768">
            <image href="assets/world-map.svg" width="1366" height="768" />
            <g>
                <path *ngFor="let country of countries" [attr.d]="country.path"
                    (mouseover)="onCountryMouseEnter($event, country)" (mouseout)="onCountryMouseLeave()"></path>
            </g>
        </svg>
    </div>
    <div class="right-column">
        <div *ngIf="countryInfo">
            <p>Name: {{ countryInfo.name }}</p>
            <p>Capital: {{ countryInfo.capital }}</p>
            <p>Region: {{ countryInfo.region }}</p>
            <p>Income Level: {{ countryInfo.incomeLevel }}</p>
            <p>Latitude: {{ countryInfo.latitude }}</p>
            <p>Longitude: {{ countryInfo.longitude }}</p>
        </div>
    </div>
</div>